/*color start*/
/*color end*/
/*font start*/
/*font end*/
.h1 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 73px;
  color: #363840;
}
.h2 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #F16334;
}
.h3 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363840;
}
.h4 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #363840;
}
.h5 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
}
.h6 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7B7D84;
}
.p {
  font-family: 'Muli', sans-serif;
  color: #7B7D84;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 170%;
}
.pb56 {
  padding-bottom: 56px;
}
.pt_0 {
  padding-top: 0;
}
.pt56 {
  padding-top: 56px;
}
.pt_24 {
  padding-top: 24px;
}
.pb_24 {
  padding-bottom: 24px !important;
}
.mt_40 {
  margin-top: 40px;
}
.pb96 {
  padding-bottom: 96px;
}
.pt96 {
  padding-top: 96px;
}
.mt_37 {
  padding-top: 37px;
}
.pr_34 {
  padding-right: 34px;
}
.mtbbb_37 {
  padding: 37px 0;
  border-bottom: 0.5px solid;
  border-bottom-color: #e3e3e3;
}
.bb_bb {
  border-bottom: 0.5px solid #e3e3e3;
}
.mtbb_37 {
  padding: 37px 0;
}
.bg {
  background: #fff;
}
.mlmt {
  padding-left: 122px;
  padding-top: 65%;
  padding-bottom: 15%;
}
.mb_32 {
  margin-bottom: 32px;
}
.mt_46 {
  margin-top: 46px;
}
.mb_40 {
  margin-bottom: 40px;
}
.error_md {
  border: 1px solid #FE4747;
}
.ml_40 {
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
}
.ml_40:hover {
  -webkit-box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 10px 6px 6px 0 rgba(0, 0, 0, 0.17);
}
.cmn_heading {
  width: 31%;
  height: 100px;
  margin: 0 auto 56px;
  overflow: hidden;
}
.cmn_heading h3 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363840;
}
.cmn_heading h6 {
  padding-top: 15px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7B7D84;
  color: #363840;
}
.mini_head h5 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
}
.mini_head h4 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #363840;
}
.bg_css {
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom_line {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.img_css {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cancel {
  color: #363840 !important;
  border: 1px solid #363840;
}
.cancel:hover {
  background: #EAEDF2;
  color: #363840 !important;
  border: 1px solid #363840;
}
.after {
  position: absolute;
  content: "";
}
.step-1 .step_1_box .file_box {
  width: 100%;
  height: 190px;
  padding: 0;
  position: relative;
}
.step-1 .step_1_box .file_box h5 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
}
.step-1 .step_1_box .file_box h6 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7B7D84;
}
.step-1 .step_1_box .file_box button,
.step-1 .step_1_box .file_box h5,
.step-1 .step_1_box .file_box h6 {
  text-align: center;
  padding: 4px 0;
}
.step-1 .step_1_box .file_box button {
  padding: 12px 44px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.step-1 .step_1_box .file_box button:hover {
  background: #F16334;
}
.step-1 .file_upload {
  /* change Here */
}
.step-1 .file_upload .files {
  margin-top: 30px;
  width: 100%;
  height: 80px;
  display: block;
  background: #fff;
}
.step-1 .file_upload .files .img_part {
  height: 80px;
  width: 140px;
  float: left;
}
.step-1 .file_upload .files .img_part img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.step-1 .file_upload .files .info_part {
  padding: 18px 18px 18px 24px;
  height: 100%;
  width: 58%;
  float: left;
}
.step-1 .file_upload .files .info_part h5 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #363840;
  font-size: 15px;
}
.step-1 .file_upload .files .info_part p {
  font-family: 'Muli', sans-serif;
  color: #7B7D84;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 170%;
}
.step-1 .file_upload .files .cancel_btn {
  right: 10px;
  top: 0;
  color: #999BA2;
}
.step-1 .file_upload .files .cancel_btn i {
  font-size: 9px;
}
.step-1 .file_upload .add {
  border: 1px dashed #DFE3EB;
  background: transparent;
  padding: 31px 105px;
}
.step-1 .file_upload .add .add_img {
  width: 18px;
  height: 18px;
  float: left;
}
.step-1 .file_upload .add .add_text h6 {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7B7D84;
  line-height: 26px;
  color: #F16334;
}
.step-1 .file_upload .add.files .dz-default.dz-message {
  opacity: 0;
  position: absolute;
  top: 15px;
  margin: 0;
}
.step-1 .file_upload .documents .add {
  border: 1px dashed #DFE3EB;
  background: transparent;
  height: 80px;
  padding: 0;
}
.step-1 .file_upload .documents .add .add_img,
.step-1 .file_upload .documents .add .add_text {
  margin-top: -15px;
}
.step-1 .file_upload .documents .add .dropzone {
  min-height: 80px;
  height: 80px;
  padding: 39px 105px;
  width: 100%;
  border: 1px dashed #dfe3eb;
  background: #f5f7fa;
}
.step-1 .note_box {
  padding-top: 56px;
}
.step-1 .note_box label {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7B7D84;
}
.step-1 .note_box textarea {
  width: 100%;
  height: 105px;
  border: 1px solid #DFE3EB;
  background: transparent;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #7B7D84;
  line-height: 18px;
}
.step-1 .note_box textarea:focus {
  background: #fff;
  box-shadow: none;
}
